body {
    font-family: Arial, sans-serif;
    background-color: #c2c1c1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    background-color: white;
    padding: 80px;
    border-radius: 20px;
    box-shadow: 0 0 80px rgba(177, 163, 6, 0.1);
    width: 500px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #daf52e;
    color: rgb(33, 32, 32);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #86820b;
}
.error {
    color: red;
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
}
