#cajaformulario
{
    background-color: rgb(251, 251, 250);
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-bottom: 30px;
}

#cajadatos
{
    float: left; width: 400px; margin-left: 20px; 
    padding: 20px; border: 1px solid #999999;
    background-color: rgb(251, 251, 250);
}

#clave, #texto
{
    width: 300px;
}

#cajadatos > div
{
    padding: 5px; border-bottom: 1px solid #999999;
}
